<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <footer>
        <div class="copyright-container">
            <img src="/03 - Gruppenarbeit - Kochwelt/img/logo.png" alt="">
            <p class="copyright">&#169; 2021 Kochwelt GmbH </p>
        </div>
        <div class="imprint-container">
            <div class="socialmedia">
                <img href="#" src="/03 - Gruppenarbeit - Kochwelt/img/icons/instagram-6-48.png" alt="">
                <img href="#" src="/03 - Gruppenarbeit - Kochwelt/img/icons/facebook-32.png" alt="">
                <img href="#" src="/03 - Gruppenarbeit - Kochwelt/img/icons/linkedin-48.png" alt="">

            </div>
            <div class="imprint">
                <a href="#" class="imprint-items">AGB |</a>
                <a href="#" class="imprint-items">Datenschutz |</a>
                <a href="#" class="imprint-items">Impressum</a>
            </div>
        </div>
    </footer>
</body>

</html>