<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="menu-container hide-mobile">
        <a href="index.html"><img src="03 - Gruppenarbeit - Kochwelt/logo.png" alt="" class="logo"></a>
        <nav class="hide-mobile">
            <a href="index.html" class="menuitem">Start</a>
            <a href="Rezept.html" class="menuitem">Rezept des Tages</a>
            <a href="all-recipes.html" class="menuitem">Alle Rezepte</a>
            <a href="contact.html" class="menuitem">Kontakt</a>
        </nav>
    </div>
</body>

</html>